<form method='POST' action='/articles'>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <br>
    <p>Enter article content 
    <br>
    in the box below:</p>
    <textarea name="content"></textarea>
    <br>
    <br>
    <input type="submit" value="submit">
</form>

<a href="/articles">Back to Index</a>