<h2>Title: <%=@article.title%></h2>

<p><%=@article.content%></p>

<a href='<%="/articles/#{@article.id}/edit"%>'>Edit this Article</a>
<br>
<br>
<form method="POST" action='<%="/articles/#{@article.id}"%>'>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this article"/>
</form>

<a href="/articles">Back to Index</a>